@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.collapse-icon .collapse-img {
    transform: rotate(180deg);
}

.collapse-img {
    transition: transform .3s;
}

.active .collapse-content {
    max-height: 1000px;
}

.team-img {
    transform: scale(1.05);
    transition-duration: 300ms;
    cursor: pointer;
}

.team-card:hover {
    background-color: #101031;
}

.team-card:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.team-card:hover h3 {
    color: white;
}

.team-card:hover h4 {
    color: white;
}

.team-card:hover a {
    color: white;
}

.modal-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}


@media (max-width: 412px) {
    .menu.menuActive {
        display: block;
        animation: showResponsiveMenu 350ms ease-in-out both;
    }
    .divLogo.hide {
        opacity: 0;
    }
    .navBar.active {
        background-color: #101031;
    }
    .responsiveButtonClose.active {
        display: block;
    }

    .container {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-areas: 
            "grid1 grid2"
            "grid3 grid4"
            "grid5 grid6"
            "grid7 grid8"
            "grid9 grid10"
            "grid11 none";
        justify-items: center;
        width: 356px;  
    }

    .grid1 {
        grid-area: grid1;
    }

    .grid2 {
        grid-area: grid2;
    }

    .grid3 {
        grid-area: grid3;
    }

    .grid4 {
        grid-area: grid4;
    }

    .grid5 {
        grid-area: grid5;
    }

    .grid6 {
        grid-area: grid6;
    }

    .grid7 {
        grid-area: grid7;
    }

    .grid8 {
        grid-area: grid8;
    }

    .grid9 {
        grid-area: grid9;
    }

    .grid10 {
        grid-area: grid10;
    }

    .grid11 {
        grid-area: grid11;
    }
}

@keyframes showResponsiveMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

